# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# MemoryCaptures
[Mm]emoryCaptures/

# Asset meta data
*.pidb
*.booproj
*.svd

# VS / Rider
.vs/
.idea/
*.csproj
*.sln
*.user
*.userprefs

# OS
.DS_Store
Thumbs.db

# Unity crash reports
sysinfo.txt